.background1 { 
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
.header-title {
  h1 {
    text-align: end;
    font-size: 3rem;
    padding: 2%;
  }
}
.form-book {
  display: flex;
  margin-left: 15vw;
  justify-content: center;

  .book-wrapper {
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(
      120deg,
      rgba(81, 130, 113, 1) 0%,
      rgba(150, 193, 131, 1) 100%
    );
    height: 80vh;
    width: 28vw;

    .uploadbook {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;
      height: 100%;
      p {
        padding: 2px;
        font-size: 1rem;
      }

      .titre,
      .auteur,
      .date,
      .pages,
      .langue,
      .cat {
        background-color: #e5ebe5;
        font-family: var(--font-style-text);
        font-weight: 500;
        font-size: 0.8rem;
        border: none;
        padding: 10px;
        border-radius: 10px;

        &:focus {
          outline: none;
          border: 2px solid rgba(150, 193, 131, 0.906);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }

      .cat::placeholder {
        font-style: italic;
        color: rgba(0, 0, 0, 0.219);
      }

      .langue::placeholder {
        font-style: italic;
        color: rgba(0, 0, 0, 0.219);
      }
      .desc {
        background-color: #e5ebe5;
        border: none;
        padding: 5px;
        border-radius: 10px;
        font-family: var(--font-style-text);

        &:focus {
          outline: none;
          border: 2px solid rgba(150, 193, 131, 0.906);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

     
        .input-file {
          margin-left: 5%;
          border-left: none;
          border: 1px dashed white;

          padding: 8px;
          width: 18vw;
          font-size: 0.7rem;

          &:focus {
            outline: none;
            border: 2px dashed rgba(150, 193, 131, 0.906);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
        input[type="file"] {
          &::file-selector-button {
            background-color: rgb(184, 169, 150);
            border: none;
          }

          &::-webkit-file-upload-button {
            font-size: 0;
            background-color: rgba(0, 0, 0, 0);
          }
          &::before {
            content: "Ajouter une image de couverture";
            color: rgb(58, 92, 80);
            font-weight: bold;
            font-family: var(--font-style-text);
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }

      .onread {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        margin-bottom: 15px;

        .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .container {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 20px;
          user-select: none;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: relative;
          top: 0;
          left: 0;
          height: 0.8em;
          width: 0.8em;
          background-color: #e5e5e5;
          border-radius: 20%;
          transition:
            background-color 0.3s,
            transform 0.3s; /* Ajout de la transition ici */
        }

        /* When the checkbox is checked, add a blue background and trigger transition */
        .container input:checked ~ .checkmark {
          background-color: rgba(0, 0, 0, 0.678);
          transform: scale(1.2); /* Effet de coche au ralenti */
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .checkmark:after {
          left: 0.3em;
          top: 0.1em;
          width: 0.15em;
          height: 0.4em;
          border: solid white;
          border-width: 0 0.1em 0.1em 0;
          transform: rotate(45deg);
          transition: border-color 0.3s;
        }

        p {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }

  .btn-add {
    display: flex;
    justify-content: center;
    align-items: center;

    .upload {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-style-text);
      background-color: rgba(29, 29, 29, 0.941);
      box-shadow:
        3px 3px 6px rgba(0, 0, 0, 0.5),
        -1px -1px 4px rgba(105, 105, 105, 0.5);
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      border: none;
      border-radius: 30px;
      width: 15vw;
      padding: 15px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .upload:hover {
      transform: scale(1.1);
    }
  }
}
}

@media screen and (max-width: 1450px) {
 
  .background1 {
    .header-title {
      h1 {
        font-size: 2.5rem;
        padding: 2%;
      }
    }

  .form-book {
    height: 100vh;
    .book-wrapper {
      height: 80vh;
      width: 28vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.8rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 10px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 10px;

          .input-file {
            margin-left: 0%;
            width: 30vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.8rem;
        }

        .onread {
          gap: 5px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.8rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 1rem;
        width: 18vw;
        padding: 15px;
      }
    }
  }
}
}
@media screen and (max-width: 1290px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 2.5rem;
        padding: 2%;
      }
    }

  .form-book {
    .book-wrapper {
      height: 80vh;
      width: 35vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.8rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 10px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 10px;

          .input-file {
            width: 40vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.8rem;
        }

        .onread {
          gap: 8px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.8rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.9rem;
        width: 20vw;
        padding: 15px;
      }
    }
  }
}
}
@media screen and (max-width: 1100px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 2rem;
        padding: 2%;
      }
    }
  .form-book {
    .book-wrapper {
      height: 80vh;
      width: 38vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.8rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 10px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 10px;

          .input-file {
            width: 40vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.8rem;
        }

        .onread {
          gap: 8px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.8rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.9rem;
        width: 23vw;
        padding: 15px;
      }
    }
  }
}
}
@media screen and (max-width: 950px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 2rem;
        padding: 2%;
      }
    }
  .form-book {
    .book-wrapper {
      height: 80vh;
      width: 45vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 10px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 10px;

          .input-file {
            width: 40vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.7rem;
        }

        .onread {
          gap: 8px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.7rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.8rem;
        width: 26vw;
        padding: 15px;
      }
    }
  }
}
}
@media screen and (max-width: 800px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 2rem;
        padding: 2%;
      }
    }
  .form-book {
    margin-left: 25vw;
    .book-wrapper {
      margin-top: 10%;
      height: 75vh;
      width: 55vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 8px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 10px;

          .input-file {
            width: 40vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.7rem;
        }

        .onread {
          gap: 8px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.7rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.8rem;
        width: 30vw;
        padding: 12px;
      }
    }
  }
}
}
@media screen and (max-width: 650px) {
  .background1 {
    height: 100%;
    background-image: url("/images/background.jpg");
    .header-title {
      h1 {
        font-size: 2rem;
        padding: 2%;
      }
    }
  .form-book {
    margin-left: 7vw;
    .book-wrapper {
      margin-top: 10%;
      height: 70vh;
      width: 60vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 7px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 8px;

          .input-file {
            width: 50vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.7rem;
        }

        .onread {
          gap: 8px;
          margin-bottom: 15px;

          .container {
            font-size: 18px;
          }
          p {
            font-size: 0.7rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.8rem;
        width: 35vw;
        padding: 10px;
      }
    }
  }
}
}
@media screen and (max-width: 540px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 1.8rem;
        padding: 5%;
      }
    }
  .form-book {
    margin-left: 7vw;
    .book-wrapper {
      margin-top: 10%;
      height: 70vh;
      width: 70vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 7px;
        }

        .desc {
          padding: 15px;
          overflow: hidden;
        }

        .img-container {
          padding: 8px;

          .input-file {
            width: 50vw;
            font-size: 0.7rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.7rem;
        }

        .onread {
          gap: 6px;
          margin-bottom: 15px;

          .container {
            font-size: 16px;
          }
          p {
            font-size: 0.7rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.8rem;
        width: 40vw;
        padding: 10px;
      }
    }
  }
}
}
@media screen and (max-width: 480px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 1.8rem;
        padding: 5%;
      }
    }
  .form-book {
    margin-left: 0vw;
    .book-wrapper {
      margin-top: 10%;
      height: 70vh;
      width: 75vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.7rem;
          padding: 6px;
          height: 5vh;
        }

        .desc {
          padding: 15px;
        }

        .img-container {
          padding: 4px;

          .input-file {
            width: 55vw;
            font-size: 0.6rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.7rem;
        }

        .onread {
          gap: 5px;
         
          margin-bottom: 15px;

          .container {
            font-size: 13px;
          }
          p {
            font-size: 0.57rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.8rem;
        width: 50vw;
        padding: 10px;
      }
    }
  }
}
}
@media screen and (max-width: 400px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 1.8rem;
        padding: 5%;
      }
    }
  .form-book {
    margin-left: 0;
    .book-wrapper {
      margin-top: 10%;
      height: 65vh;
      width: 85vw;
      .uploadbook {
        padding: 40px;
        height: 100%;
        p {
          padding: 2px;
          font-size: 0.7rem;
        }
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.6rem;
          padding: 6px;
        }

        .img-container {
          padding: 2px;

          .input-file {
            width: 75vw;
            font-size: 0.6rem;
          }
        }

        p {
          padding: 2px;
          font-size: 0.6rem;
        }

        .onread {
          padding: 0;
          gap: 5px;
          margin-bottom: 15px;

          .container {
            font-size: 13px;
          }
          p {
            font-size: 0.6rem;
            padding: 0;
          }
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.7rem;
        width: 58vw;
        padding: 8px;
      }
    }
  }
}
}
@media screen and (max-width: 360px) {
  .background1 {
    .header-title {
      h1 {
        font-size: 1.6rem;
        padding: 5%;
      }
    }
  .form-book {
    padding-top: 10%;
    .book-wrapper {
      .uploadbook {
        padding: 30px;
        .titre,
        .auteur,
        .date,
        .pages,
        .langue,
        .cat {
          font-size: 0.5rem;
          padding: 3px;
          height: 3vh;
        }
      }
    }

    .btn-add {
      .upload {
        font-size: 0.7rem;
        width: 58vw;
        padding: 8px;
      }
    }
  }
}
}