.background1 {
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  .form {
    .info-container {
      margin-top: 4%;
      background-color: rgba(0, 0, 0, 0.732);
      height: 65vh;
      margin-left: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3%;

      img {
        border: 2px solid white;
        width: 20%;
        border-radius: 5px;
      }

      .book-information {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header-details {
          width: 80%;
          height: 15vh;
          label {
            background-color: white;
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 10px 15px 10px 10px;
            cursor: pointer;
            user-select: none;
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            color: black;
          }

          .icon-action {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon-info {
              display: flex;
              justify-content: space-between;
              padding: 5px;
              gap: 30px;

              .edit,
              .delete,
              .favorite {
                border: none;
                width: 1.8vw;
                cursor: pointer;
                transition: transform 0.3s ease;
              }
              img:hover {
                transform: scale(1.2);
              }
            }
          }

          h1 {
            color: var(--secondary-color);
            font-size: 2.1rem;
          }
          h2 {
            font-size: 1.4rem;
          }
          h3 {
            font-size: 1.1rem;
            font-weight: 500;
          }
          p {
            font-style: italic;
            padding-top: 5px;
            font-size: 1rem;
          }
        }

        .description-book {
          width: 80%;

          p {
            font-size: 1.2rem;
            text-align: justify;
          }
        }

        .category-note {
          p {
            padding: 5px;
            font-size: 1.2rem;
            text-align: justify;
          }
        }

        .edit-book {
          .isread {
            display: flex;
            flex-direction: column-reverse;
            width: 80%;
            gap: 10px;

            .check {
              display: flex;
              align-items: end;
              justify-content: end;

              p {
                margin-right: 3%;
              }

              .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }

              .container {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 20px;
                user-select: none;
              }

              /* Create a custom checkbox */
              .checkmark {
                position: relative;
                top: 0;
                left: 0;
                height: 1em;
                width: 1em;
                background-color: #e5e5e5;
                border-radius: 20%;
                transition: background-color 0.3s;
              }

              /* When the checkbox is checked, add a blue background and trigger animation */
              .container input:checked ~ .checkmark {
                background-color: var(--secondary-color);
                animation: pop 0.3s ease-out; /* Ajout de l'animation ici */
              }

              /* Define the pop animation */
              @keyframes pop {
                0% {
                  transform: scale(1);
                }
                25% {
                  transform: scale(1.2);
                }
                50% {
                  transform: scale(0.8);
                }
                75% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }

              /* Create the checkmark/indicator (hidden when not checked) */
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }

              /* Show the checkmark when checked */
              .container input:checked ~ .checkmark:after {
                display: block;
              }

              /* Style the checkmark/indicator */
              .checkmark:after {
                left: 0.3em;
                top: 0.1em;
                width: 0.25em;
                height: 0.5em;
                border: solid white;
                border-width: 0 0.15em 0.15em 0;
                transform: rotate(45deg);
                transition: border-color 0.3s;
              }
            }
          }
        }

        .btn-return {
          display: flex;
          justify-content: end;
          align-items: center;
          padding-right: 20%;
          .return {
            cursor: pointer;

            font-weight: 500;
            text-decoration: none;
            font-size: 1rem;
            font-family: var(--font-style-text);
            border: none;
            background-image: linear-gradient(
              120deg,
              rgba(81, 130, 113, 1) 0%,
              rgba(150, 193, 131, 1) 100%
            );
            box-shadow:
              3px 3px 6px rgba(0, 0, 0, 0.5),
              -1px -1px 4px rgba(105, 105, 105, 0.5);
            width: 15vw;
            padding: 15px;
            border-radius: 10px;
            color: var(--primary-color);
            transition: transform 0.3s ease;
          }
          .return:hover {
            transform: scale(1.1);
          }
        }
      }

      .category-note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2%;

        .range {
          display: flex;
          gap: 10px;

          input {
            text-align: center;
            background-color: #ffffff9f;
            width: 3vw;
            padding: 5px;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.79);
            border: 1px solid white;
            border-radius: 2px;
            font-family: var(--font-style-text);
          }
        }
        .information-book {
          display: flex;
          align-items: center;

          input {
            background-color: #ffffff9f;
            border: none;
            border-radius: 5px;
            width: 32.5vw;
            height: 4vh;
            padding: 2px;
            font-style: italic;
            font-size: 1rem;
            padding: 8px;
            border: 1px solid white;
            font-family: var(--font-style-text);
            color: rgba(0, 0, 0, 0.79);
          }
        }

        .progress {
          padding-top: 2%;
          width: 55%;
          display: flex;

          progress {
            appearance: none;
            width: 50%;
            height: 15px;

            &::-webkit-progress-bar {
              background-color: #f1f1f1;
            }

            &::-webkit-progress-value {
              background-color: var(--secondary-color);
            }
          }
        }
        .save-btn {
          display: flex;
          align-items: center;
          padding-top: 20px;

          .save {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-style-text);
            background-color: #518271f3;
            box-shadow:
              3px 3px 6px rgba(0, 0, 0, 0.5),
              -1px -1px 4px rgba(58, 57, 57, 0.5);
            color: white;
            font-weight: 500;
            width: 9vw;
            font-size: 1rem;
            border: none;
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1630px) {
  .background1 {
    .form {
      height: 100vh;
      .info-container {
        margin-top: 4%;
        height: 65vh;
        margin-left: 20vw;
        padding-left: 3%;

        img {
          width: 20%;
        }

        .book-information {
          margin-left: 5%;

          .header-details {
            width: 100%;

            label {
              gap: 14px;
            }

            .icon-action {
              .icon-info {
                padding: 5px;
                gap: 20px;
                margin-right: 20%;

                .edit,
                .delete,
                .favorite {
                  width: 1.8vw;
                }
              }
            }

            h1 {
              font-size: 1.6rem;
            }
            h2 {
              font-size: 1.2rem;
            }
            h3 {
              font-size: 1rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.8rem;
            }
          }

          .description-book {
            width: 80%;

            p {
              font-size: 1rem;
            }
          }

          .category-note {
            p {
              padding: 5px;
              font-size: 1rem;
            }
          }

          .edit-book {
            .isread {
              width: 80%;
              gap: 10px;

              .check {
                p {
                  margin-right: 3%;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 1em;
                  width: 1em;
                }

                .checkmark:after {
                  left: 0.3em;
                  top: 0.1em;
                  width: 0.25em;
                  height: 0.5em;
                }
              }
            }
          }

          .btn-return {
            padding-right: 20%;
            .return {
              font-size: 0.9rem;

              width: 18vw;
              padding: 15px;
            }
          }
        }

        .category-note {
          padding-top: 2%;

          .range {
            gap: 10px;

            input {
              width: 3vw;
              padding: 5px;
              font-size: 1rem;
            }
          }
          .information-book {
            input {
              height: 4vh;

              font-size: 1rem;
              padding: 8px;
            }
          }

          .progress {
            padding-top: 2%;
            width: 55%;

            progress {
              width: 50%;
              height: 15px;
            }
          }
          .save-btn {
            padding-top: 20px;

            .save {
              width: 12vw;
              font-size: 1rem;

              padding: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1345px) {
  .background1 {
    .form {
      .info-container {
        margin-top: 4%;
        height: 65vh;
        margin-left: 20vw;
        padding-left: 3%;

        img {
          width: 20%;
        }

        .book-information {
          margin-left: 5%;

          .header-details {
            width: 100%;

            label {
              gap: 14px;
            }

            .icon-action {
              .icon-info {
                padding: 5px;
                gap: 20px;
                margin-right: 20%;

                .edit,
                .delete,
                .favorite {
                  width: 1.8vw;
                }
              }
            }

            h1 {
              font-size: 1.6rem;
            }
            h2 {
              font-size: 1.2rem;
            }
            h3 {
              font-size: 1rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.8rem;
            }
          }

          .description-book {
            width: 80%;

            p {
              font-size: 1rem;
            }
          }

          .category-note {
            padding-top: 2%;

            .range {
              gap: 10px;

              input {
                width: 3vw;
                padding: 5px;
                font-size: 0.9rem;
              }
            }
            .information-book {
              input {
                height: 3vh;
                font-size: 0.9rem;
                padding: 8px;
              }
            }

            .save-btn {
              padding-top: 20px;

              .save {
                width: 15vw;
                font-size: 1rem;
                padding: 10px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 45%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .btn-return {
            padding-right: 20%;
            .return {
              font-size: 0.9rem;
              width: 21vw;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .background1 {
    .form {
      .info-container {
        margin-top: 20%;
        height: 50vh;
        margin-left: 25vw;
        padding-left: 3%;

        img {
          width: 20%;
        }

        .book-information {
          margin-left: 5%;

          .header-details {
            width: 100%;
            height: 12vh;
            label {
              gap: 14px;
            }

            .icon-action {
              .icon-info {
                padding: 5px;
                gap: 20px;
                margin-right: 20%;

                .edit,
                .delete,
                .favorite {
                  width: 2vw;
                }
              }
            }

            h1 {
              font-size: 1.1rem;
            }
            h2 {
              font-size: 1rem;
            }
            h3 {
              font-size: 0.8rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.7rem;
            }
          }

          .description-book {
            width: 80%;

            p {
              font-size: 0.7rem;
            }
          }

          .category-note {
            padding-top: 2%;

            p {
              font-size: 0.7rem;
            }
            .range {
              gap: 10px;

              input {
                width: 3vw;
                padding: 5px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 3vh;
                font-size: 0.7rem;
                padding: 8px;
              }
            }

            .save-btn {
              padding-top: 20px;

              .save {
                width: 15vw;
                font-size: 0.7rem;
                padding: 8px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 60%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              width: 90%;
              gap: 10px;

              .check {
                p {
                  font-size: 0.8rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.8em;
                  width: 0.8em;
                }

                .checkmark:after {
                  left: 0.3em;
                  top: 0.1em;
                  width: 0.25em;
                  height: 0.5em;
                }
              }
            }
          }
          .btn-return {
            padding-right: 10%;
            .return {
              font-size: 0.7rem;
              width: 23vw;
              padding: 13px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .background1 {
    .form {
      margin-left: 5vw;
      .info-container {
        margin-top: 5%;
        height: 85vh;
        margin-left: 20vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-left: 0px;

        img {
          width: 30%;
        }

        .book-information {
          display: flex;
          justify-content: center;
          margin-left: 0px;
          padding: 20px;
          .header-details {
            text-align: center;
            height: 10vh;
            label {
              gap: 14px;
            }

            .icon-action {
              display: flex;
              flex-direction: column-reverse;

              .icon-info {
                margin-left: 20%;
                align-items: center;

                .edit,
                .delete,
                .favorite {
                  width: 3vw;
                }
              }
            }

            h1 {
              font-size: 1rem;
            }
            h2 {
              font-size: 0.8rem;
            }
            h3 {
              font-size: 0.7rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.7rem;
            }
          }

          .description-book {
            margin-top: 5%;

            width: 80%;
            margin-left: 10%;

            p {
              font-size: 0.7rem;
            }
          }

          .category-note {
            padding-top: 2%;
            margin-left: 10%;

            p {
              font-size: 0.7rem;
            }
            .range {
              gap: 10px;

              input {
                width: 3vw;
                padding: 3px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 2.5vh;
                font-size: 0.6rem;
                padding: 7px;
              }
            }

            .save-btn {
              padding-top: 0px;

              .save {
                width: 16vw;
                font-size: 0.6rem;
                padding: 5px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 65%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              display: flex;
              justify-content: center;
              width: 100%;

              .check {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;

                p {
                  font-size: 0.7rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.8em;
                  width: 0.8em;
                }

                .checkmark:after {
                  left: 0.3em;
                  top: 0.1em;
                  width: 0.25em;
                  height: 0.5em;
                }
              }
            }
          }
          .btn-return {
            display: flex;
            justify-content: center;
            padding-right: 0%;
            padding-top: 5%;
            .return {
              font-size: 0.7rem;
              width: 27vw;
              padding: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .background1 {
    height: 100%;
    background-image: url("/images/background.jpg");

    .form {
      display: flex;
      justify-content: center;

      .info-container {
        margin-top: 10%;
        height: 80vh;

        padding-left: 0px;

        margin-left: 0vw;

        width: 70vw;

        img {
          width: 30%;
        }

        .book-information {
          display: flex;
          justify-content: center;
          margin-left: 0px;

          padding: 5px;
          .header-details {
            text-align: center;

            label {
              gap: 14px;
            }

            .icon-action {
              display: flex;
              flex-direction: column-reverse;

              .icon-info {
                margin-left: 20%;
                align-items: center;

                .edit,
                .delete,
                .favorite {
                  width: 3vw;
                }
              }
            }

            h1 {
              font-size: 1rem;
            }
            h2 {
              font-size: 0.8rem;
            }
            h3 {
              font-size: 0.7rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.7rem;
            }
          }

          .description-book {
            margin-top: 5%;

            width: 80%;
            margin-left: 10%;

            p {
              font-size: 0.7rem;
            }
          }

          .category-note {
            padding-top: 2%;
            margin-left: 10%;

            p {
              font-size: 0.7rem;
            }
            .range {
              gap: 10px;

              input {
                width: 3vw;
                padding: 5px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 2.5vh;
                font-size: 0.6rem;
                padding: 7px;
              }
            }

            .save-btn {
              padding-top: 0px;

              .save {
                width: 16vw;
                font-size: 0.6rem;
                padding: 3px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 75%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              display: flex;
              justify-content: center;
              width: 100%;

              .check {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;

                p {
                  font-size: 0.7rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.8em;
                  width: 0.8em;
                }

                .checkmark:after {
                  left: 0.3em;
                  top: 0.1em;
                  width: 0.25em;
                  height: 0.5em;
                }
              }
            }
          }
          .btn-return {
            display: flex;
            justify-content: center;
            padding-right: 0%;
            padding-top: 2%;
            .return {
              font-size: 0.7rem;
              width: 35vw;
              padding: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .background1 {
    .form {
      .info-container {
        margin-top: 15%;
        height: 75vh;

        padding-left: 0px;

        margin-left: 0vw;

        width: 75vw;

        img {
          width: 35%;
        }

        .book-information {
          display: flex;
          justify-content: center;
          margin-left: 0px;
          padding: 5px;
          .header-details {
            text-align: center;

            label {
              gap: 14px;
            }

            .icon-action {
              display: flex;
              flex-direction: column-reverse;

              .icon-info {
                margin-left: 20%;
                align-items: center;

                .edit,
                .delete,
                .favorite {
                  width: 3.5vw;
                }
              }
            }

            h1 {
              font-size: 1rem;
            }
            h2 {
              font-size: 0.8rem;
            }
            h3 {
              font-size: 0.7rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.7rem;
            }
          }

          .description-book {
            margin-top: 5%;

            width: 80%;
            margin-left: 10%;

            p {
              font-size: 0.7rem;
            }
          }

          .category-note {
            padding-top: 2%;
            margin-left: 10%;
            width: 100%;
            p {
              font-size: 0.7rem;
            }
            .range {
              gap: 10px;

              input {
                width: 5vw;
                padding: 5px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 2.5vh;
                width: 33vw;
                font-size: 0.6rem;
                padding: 7px;
              }
            }

            .save-btn {
              padding-top: 0px;

              .save {
                width: 18vw;
                font-size: 0.62rem;
                padding: 4px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 75%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              display: flex;
              justify-content: center;
              width: 100%;

              .check {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;

                p {
                  font-size: 0.7rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.7em;
                  width: 0.7em;
                }
              }
            }
          }
          .btn-return {
            display: flex;
            justify-content: center;
            padding-right: 0%;
            padding-top: 2%;
            .return {
              font-size: 0.7rem;
              width: 42vw;
              padding: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .background1 {
    .form {
      margin-top: 0%;
      .info-container {
        margin-top: 15%;
        height: 80vh;

        padding-left: 0px;

        margin-left: 0vw;

        width: 80vw;

      
        img {
          width: 40%;
        }

        .book-information {
          .header-details {
            text-align: center;

            label {
              gap: 14px;
            }

            .icon-action {
              display: flex;
              flex-direction: column-reverse;

              .icon-info {
                margin-left: 20%;
                align-items: center;

                .edit,
                .delete,
                .favorite {
                  width: 5vw;
                }
              }
            }

            h1 {
              font-size: 1rem;
            }
            h2 {
              font-size: 0.8rem;
            }
            h3 {
              font-size: 0.7rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.6rem;
            }
          }

          .description-book {
            margin-top: 10%;

            width: 80%;
            margin-left: 10%;

            p {
              font-size: 0.6rem;
            }
          }

          .category-note {
            padding-top: 2%;
            margin-left: 10%;
            width: 100%;
            p {
              font-size: 0.6rem;
            }
            .range {
              gap: 10px;

              input {
                width: 8vw;
                padding: 3px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 2.5vh;
                width: 32vw;
                font-size: 0.6rem;
                padding: 7px;
              }
            }

            .save-btn {
              padding-top: 0px;

              .save {
                width: 25vw;
                font-size: 0.62rem;
                padding: 4px;
              }
            }
            .progress {
              padding-top: 2%;
              width: 65%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              display: flex;
              justify-content: center;
              width: 100%;

              .check {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;

                p {
                  font-size: 0.6rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.6em;
                  width: 0.6em;
                }
                .checkmark:after {
                  left: 0.2em;
                  top: 0.1em;
                  width: 0.1em;
                  height: 0.2em;
                  
                }
              }
            }
          }
          .btn-return {
            display: flex;
            justify-content: center;
            padding-right: 0%;
            padding-top: 5%;
            .return {
              font-size: 0.6rem;
              width: 46vw;
              padding: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .background1 {
    .form {
      margin-top: 0;
      display: flex;
      justify-content: start;
      .info-container {
        margin-top: 15%;
        height: 80vh;

        padding-left: 0px;

        margin-left: 0vw;

        width: 90vw;

        img {
          width: 35%;
        }

        .book-information {
          .header-details {
            text-align: center;

            label {
              gap: 14px;
            }

            .icon-action {
              display: flex;
              flex-direction: column-reverse;

              .icon-info {
                margin-left: 20%;
                align-items: center;

                .edit,
                .delete,
                .favorite {
                  width: 4vw;
                }
              }
            }

            h1 {
              font-size: 1rem;
            }
            h2 {
              font-size: 0.7rem;
            }
            h3 {
              font-size: 0.7rem;
            }
            p {
              padding-top: 5px;
              font-size: 0.6rem;
            }
          }

          .description-book {
            margin-top: 10%;
            width: 80%;
            margin-left: 10%;

            p {
              font-size: 0.6rem;
            }
          }

          .category-note {
            padding-top: 2%;
            margin-left: 10%;
            width: 100%;
            p {
              font-size: 0.6rem;
            }
            .range {
              gap: 10px;

              input {
                width: 8vw;
                padding: 3px;
                font-size: 0.7rem;
              }
            }
            .information-book {
              input {
                height: 2.5vh;
                width: 45vw;
                font-size: 0.6rem;
                padding: 7px;
              }
            }
           

            .save-btn {
              padding-top: 0px;

              .save {
                width: 28vw;
                font-size: 0.62rem;
                padding: 4px;
              }
            }

            .progress {
              padding-top: 2%;
              width: 70%;
              display: flex;
    
              progress {
                appearance: none;
                width: 70%;
                height: 15px;
    
             
              }
            }
          }
          .edit-book {
            .isread {
              display: flex;
              justify-content: center;
              width: 100%;

              .check {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;

                p {
                  font-size: 0.6rem;
                }

                .checkmark {
                  top: 0;
                  left: 0;
                  height: 0.6em;
                  width: 0.6em;
                }
                
               
              }
            }
          }
          .btn-return {
            display: flex;
            justify-content: center;
            padding-right: 0%;
            padding-top: 5%;
            .return {
              font-size: 0.6rem;
              width: 48vw;
              padding: 9px;
            }
          }
        }
      }
    }
  }
}
