.container-navbar {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background-color: rgb(0, 0, 0);

  .burger {
    display: none;
  }

  .burger-menu {
    visibility: hidden;
  }

  .login-container {
    display: flex;
    align-items: center;
    padding: 8%;

    img {
      width: 8vw;
      border-radius: 50%;
      border: 2px solid white;
    }

    .logout-button {
      margin-top: 10%;

      .logout {
        cursor: pointer;
        font-weight: 400;
        color: var(--text-color);
        text-decoration: none;
        font-size: 0.8rem;
        font-family: var(--font-style-text);
        border: none;
        background-image: linear-gradient(
          120deg,
          rgba(81, 130, 113, 1) 0%,
          rgba(150, 193, 131, 1) 100%
        );
        box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.5),
          -1px -1px 4px rgba(105, 105, 105, 0.5);
        width: 7vw;
        padding: 12px;
        border-radius: 20px;
      }
    }
    .user-profile {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      display: flex;
      p {
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }

  .navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
    padding: 15%;

    .accueil-container {
      display: flex;
      gap: 10%;
      width: 100%;
      align-items: center;

      img,
      svg {
        width: 1.6vw;
        height: 1.6vw;
      }

      h1 {
        font-size: 1rem;
      }
      a {
        text-decoration: none;
        color: white;
        transition: transform 0.3s ease;
      }
      a:hover {
        transform: scale(1.1);
        color: var(--secondary-color);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container-navbar {
    .login-container {
      .logout-button {
        .logout {
          font-size: 0.6rem;
          width: 8vw;
          padding: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .container-navbar {
    .login-container {
      padding: 6%;

      img {
        width: 7vw;
      }

      .logout-button {
        .logout {
          width: 9vw;
          padding: 10px;
          font-size: 0.6rem;
        }
      }
      .user-profile {
        p {
          font-size: 1rem;
        }
      }
      a {
        font-size: 1.3rem;
      }
    }

    .navlink {
      .accueil-container {
        h1 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .container-navbar {
    .login-container {
      padding: 8%;

      img {
        width: 7vw;
      }

      .logout-button {
        .logout {
          width: 9vw;
          padding: 10px;
          font-size: 0.5rem;
        }
      }
      .user-profile {
        p {
          font-size: 0.8rem;
        }
      }
      a {
        font-size: 1rem;
      }
    }

    .navlink {
      .accueil-container {
        h1 {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .container-navbar {
    width: 25vw;
    .login-container {
      padding: 8%;

      img {
        width: 8vw;
      }

      .logout-button {
        .logout {
          width: 11vw;
          padding: 7px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .container-navbar {
    width: 30vw;
    .login-container {
      padding: 8%;

      img {
        width: 9vw;
      }

      .logout-button {
        .logout {
          width: 12vw;
          padding: 7px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .container-navbar {
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0);

    .burger {
      display: flex;
      justify-content: center;
      display: inherit;
      width: 5vw;
    }

    .login-container {
      visibility: hidden;
    }

    .navlink {
      .accueil-container {
        visibility: hidden;
      }
    }

    .burger-menu {
      visibility: visible;
    }
    .bm-overlay {
      top: 0;
      position: relative;
    }
    .bm-menu-wrap {
      top: 0;
      position: relative;
    }
    .bm-menu {
      background-color: rgba(0, 0, 0, 0.884);

      .bm-item-list {
        display: flex;
        flex-direction: column;
        padding: 10%;
        justify-content: space-around;

        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 0.8rem;
          color: white;

          .icon {
            align-items: center;

            display: flex;
          }
        }
      }
    }
  }

  .login {
    .profil {
      align-items: center;
      display: flex;
      .avatar {
        border-radius: 50px;
        width: 15vw;
        border: 1px solid white;
      }
    }
    .info {
      margin-left: 20px;
      p {
        font-weight: 500;
        font-size: 1rem;
      }
      .logout-button {
        display: flex;
        align-items: center;
        justify-content: center;

        .logout {
          cursor: pointer;
          color: var(--text-color);
          border: none;
          background-image: linear-gradient(
            120deg,
            rgba(81, 130, 113, 1) 0%,
            rgba(150, 193, 131, 1) 100%
          );
          box-shadow:
            3px 3px 6px rgba(0, 0, 0, 0.5),
            -1px -1px 4px rgba(105, 105, 105, 0.5);
          width: 6vw;
          padding: 3px;
          border-radius: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .container-navbar {
    .burger {
      display: flex;
      justify-content: center;
      padding-top: 10%;
      margin-left: 10%;

      display: inherit;
      width: 6vw;
    }
    .bm-menu {
      position: absolute;
      right: 0;
      width: 90%;
      .bm-item-list {
        padding: 13%;

        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  .login {
    .profil {
      .avatar {
        width: 15vw;
      }
    }
    .info {
      p {
        font-size: 1rem;
      }
      .logout-button {
        .logout {
          width: 6vw;
          padding: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container-navbar {
    .burger {
      display: flex;
      justify-content: center;
      padding-top: 10%;
      margin-left: 10%;
      display: inherit;
      width: 8vw;
    }

    .bm-menu {
      position: absolute;
      right: 0;
      width: 90%;
      .bm-item-list {
        padding: 13%;

        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  .login {
    .profil {
      .avatar {
        width: 17vw;
      }
    }
    .info {
      p {
        font-size: 1rem;
      }
      .logout-button {
        .logout {
          width: 8vw;
          padding: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container-navbar {
    .burger {
      width: 8vw;
    }

    .bm-menu {
      position: absolute;
      right: 0;
      width: 80%;
      .bm-item-list {
        padding: 17%;

        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  .login {
    .profil {
      .avatar {
        width: 20vw;
      }
    }
    .info {
      p {
        font-size: 1rem;
      }
      .logout-button {
        .logout {
          width: 9vw;
          padding: 5px;
        }
      }
    }
  }
}
