.container-navbar {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background-color: rgb(0, 0, 0);

  .login-container {
    display: flex;
    align-items: center;
    padding: 8%;

    img {
      width: 8vw;
      border-radius: 50%;
      border: 2px solid white;
    }

    .logout-button {
      margin-top: 10%;

      .logout {
        cursor: pointer;
        font-weight: 400;
        color: var(--text-color);
        text-decoration: none;
        font-size: 0.8rem;
        font-family: var(--font-style-text);
        border: none;
        background-image: linear-gradient(
          120deg,
          rgba(81, 130, 113, 1) 0%,
          rgba(150, 193, 131, 1) 100%
        );
        box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.5),
          -1px -1px 4px rgba(105, 105, 105, 0.5);
        width: 7vw;
        padding: 12px;
        border-radius: 20px;
      }
    }
    .user-profile {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      display: flex;
      p {
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;
      }
    }
   
  }

  .navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
    padding: 15%;

    .accueil-container {
      display: flex;
      gap: 10%;
      width: 100%;
      align-items: center;


    
      img,
      svg {
      
        width: 1.6vw;
        height: 1.6vw;
      }

     

      h1 {
        font-size: 1rem;
      }
      a {
        text-decoration: none;
        color: white;
        transition: transform 0.3s ease;
      }
      a:hover {
        transform: scale(1.1);
        color: var(--secondary-color);
      }
    }
  }
 

}

@media screen and (max-width: 1400px) {
  .container-navbar {
    .login-container {
      .logout-button {
        .logout {
          font-size: 0.6rem;
          width: 8vw;
          padding: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .container-navbar {
    .login-container {
      padding: 6%;

      img {
        width: 7vw;
      }

      .logout-button {
        .logout {
          width: 9vw;
          padding: 10px;
          font-size: 0.6rem;
        }
      }
      .user-profile {
        p {
          font-size: 1rem;
        }
      }
      a {
        font-size: 1.3rem;
      }
    }

    .navlink {
      .accueil-container {
        h1 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .container-navbar {
    .login-container {
      padding: 8%;

      img {
        width: 7vw;
      }

      .logout-button {
        .logout {
          width: 9vw;
          padding: 10px;
          font-size: 0.5rem;
        }
      }
      .user-profile {
        p {
          font-size: 0.8rem;
        }
      }
      a {
        font-size: 1rem;
      }
    }

    .navlink {
      .accueil-container {
        h1 {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .container-navbar {
    width: 25vw;
    .login-container {
      .logout-button {
        .logout {
          width: 11vw;
          padding: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .container-navbar {
    width: 30vw;
    .login-container {
      .logout-button {
        .logout {
          width: 13vw;
          padding: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
