@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200;1,500&display=swap");

:root {
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #719a6b;
  --tertiary-color: #0000;

  /* font-family */
  --font-style-text: "Montserrat", sans-serif;

  /* font-weight */

  --font-weight-medium: 400;
  --font-weight-bold: 500;

  /* font-size */
  --font-size: 1.25rem; /* 20px */
  --font-size-title: calc(var(--font-size-standard) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;

  font-family: var(--font-style-text);
  color: var(--primary-color);
  background-image: linear-gradient(to top, #242323 0%, black 100%);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}
